<section class="inner">
	<h2 class="section-ttl"></h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field mb2">
			<%= f.label :email, "メールアドレス" %><br>
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			<!-- "autofocus: true"を設定すると、ページを読み込んだ際にautofocus属性を記述している部分にカーソルが移動して、入力状態になるというもの。 
				１つのファイルに１つまで設定できる。
			-->
		</div>

		<div class="field mb2">
			<%= f.label :password, "パスワード" %><br>
			<%= f.password_field :password, autpcomplete: "current-password" %>
		</div>

		<div class="field mb2">
			<%= f.submit "ログイン", class: "btn btn-primary" %>
		</div>
	<% end %>
</section>