<section class="inner">
	<h2 class="section-ttl"></h2>
	<%= render "form", address: @address, submit: "登録" %>
	<table class="addresses mt2 has_border">
		<thead>
			<tr>
				<th>郵便番号</th>
				<th>住所</th>
				<th>宛名</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @address.each do |address| %>
				<tr>
					<td class="text-center"><%= address.postal_code %></td>
					<td><%= address.destination %></td>
					<td><%= address.name %></td>
					<td class="text-center">
						<%= link_to "", edit_address_path(address), class: "btn btn-success" %>
						<%= link_to "", address_path(address), method: :delete, "data-confirm" => "削除します。本当によろしいですか？", class: "btn btn-danger" %>		
					</td>
				</tr>
			<% end %>	
		</tbody>
	</table>
</section>